.container-product {
  position: relative;
  padding-bottom: 50px;
}

.container-product h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: #eef4cc;
  background-color: rgb(18, 49, 50);
  /* Same as contact-me h1 */
}

#show-more {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  border: 1px solid #666666;
  text-align: center;
}

.random-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.product {
  margin: 40px 55px;
  position: relative;
}

.product img {
  height: 450px;
  width: 450px;
  max-width: 400px;
  max-height: 450px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.product-image {
  display: block;
  width: 400px;
  height: 450px;
  position: absolute;
  bottom: 4px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 30px;
}

.product-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.icon-wrapper {
  transition: all .4s ease-in-out;
}

.icon-wrapper:hover {
  background-color: #c1cc00;
}

.product-icon {
  font-size: 1.5em;
  padding: 13px;
  color: #eef4cc;
}

.product-plus-icon {
  margin-right: 80px;
}

.product-plus-icon,
.product-cart-icon {
  border: 1px solid #eef4cc;
}

.product-info-wrapper {
  display: flex;
  flex-direction: column;
}

.product-info-wrapper button {
  margin-top: 20px;
  color: #eef4cc;
  background-color: #c1cc00;
  font-size: 1.1em;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  align-self: center;
  transition: all .3s linear;
}

.product-info-wrapper button:hover {
  background-color: #a2aa05;
  cursor: pointer;
}

.product-info {
  margin: 0 55px;
  font-size: 1em;
  text-align: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.product-info a {
  text-decoration: none;
  color: #666666;
  transition: all .3s linear;
}

.product-info a:hover {
  color: #383737;
}

.product-info p {
  margin: 0;
  align-self: center;
}

@media (max-width: 530px) {
  .product img {
      width: 200px;
      height: 225px;
  }
  .product-image {
      width: 200px;
      height: 225px;
  }
  .product-icon-wrapper {
      margin-top: 100px;
  }
}