.about-header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: #979f83;
  background-color: #12284b;
  /* Same as contact-me h1 */
}