.navigation {
  position: fixed;
  width: 100%;
  background-color: #12284b;
  display: flex;
  flex-wrap: wrap;
  color: #eef4cc;
  justify-content: space-around;
  z-index: 1;
}

.navigation a {
  color: #eef4cc;
  display: block;
  letter-spacing: 3px;
  text-decoration: none;
  border-left: 1px solid #eef4cc;
  width: 100%;
  padding: 15px auto;
  margin: 20px auto;
  text-align: center;
  transition: all .3s ease-in;
}

.navigation a:hover {
  background-color: #eef4cc;
  color: #12284b
}

.navigation svg {
  margin-right: 15px;
  font-size: 1.5em;
  padding: 5px;
}

.navigation-logo {
  padding-left: 20px;
  align-self: center;
}

.navigation-main {
  display: flex;
  align-items: center;
  flex: 0 2 50%;
  justify-content: space-around;
}


.navigation-main a:first-of-type {
  border: none;
}

.navigation-secondary {
}

.navigation-secondary a {
  border: none;
  position: relative;
}

.navigation-secondary a:hover {
  background-color: transparent;
  color: #eef4cc;
  cursor: auto;
}

.cart {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  text-align: end;
}

.navigation-secondary svg {
  margin: 0;
}

.cart-total {
  font-size: .8em;
  margin-right: 15px;
  align-self: flex-end;
}

.cart-total h3,
.cart-total p {
  margin: 0
}

.cart-total p {
  padding-left: 10px;
}

.drop-down-products {
  padding-top: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #12284b;
  background-color: #12284bb2;
  position: absolute;
  left: -100px;
  font-size: .8em;
}

.item-in-cart{
  margin-right: 10px;
  font-size: .8em;
}

@media (max-width: 550px) {
  .navigation a {
      border: none;
  }

  .navigation-main svg {
    margin-right: 5px;
  }
}