.contact-wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #eef4cc;
    background-color: rgb(18, 49, 50);
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info {
    align-self: center;
    margin: 0 auto;
    flex: 0 1 350px;
}

.contact-facebook,
.contact-phone,
.contact-email {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 4px 2px -2px rgba(62, 90, 91, 0.3);
}

.contact-me h2 {
    font-size: 1em;
    justify-self: flex-start;
}

.contact-info p {
    margin: 0;
    align-self: center;
    justify-self: center;
}

.contact-form {
    max-width: 700px;
    flex: 0 1 auto;
    align-self: center;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-form form {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    height: 30px;
    border: 2px solid #B97F6D;
}

.contact-form textarea {
    margin-bottom: 20px;
    border: 2px solid #B97F6D;
}

.contact-form input[type="submit"] {
    background-color: #B97F6D;
    color: #eef4cc;
    transition: all .4s ease-in-out;
    height: 40px;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.contact-form input[type="submit"]:hover {
    cursor: pointer;
    color: #eef4cc;
    background-color: rgb(161, 102, 84);
    border: rgb(161, 102, 84);
}

.contact-form input::-webkit-input-placeholder {
    color: #B97F6D;
    padding-left: 10px;
}

.contact-form input::-moz-placeholder {
    color: #B97F6D;
    padding-left: 10px;
}

.contact-form input:-ms-input-placeholder {
    color: #B97F6D;
    padding-left: 10px;
}

.contact-form input:-moz-placeholder {
    color: #B97F6D;
    padding-left: 10px;
}

.contact-form textarea::-webkit-input-placeholder {
    color: #B97F6D;
    padding-left: 10px;
}

.contact-form textarea::-moz-placeholder {
    color: #B97F6D;
    padding-left: 10px;
}

.contact-form textarea:-ms-input-placeholder {
    color: #B97F6D;
    padding-left: 10px;
}

.contact-form textarea:-moz-placeholder {
    color: #B97F6D;
    padding-left: 10px;
}

.form-info {
    display: flex;
}

.form-info input[type="text"] {
    margin-right: 20px;
}

.form-info input {
    flex: 1 1 auto;
}

#contact-subject {
    margin: 10px 0;
}

#fb-icon-contact {
    color: #3b5998;
}

@media (max-width: 700px) {
    
}


@media (max-width: 550px) {
    .contact-form form {
        margin: 15px 0;
    }
}

@media (max-width: 390px) {
    .form-info {
        flex-wrap: wrap;
    }

    input[type="email"] {
        margin-top: 10px;
    } 
    .contact-form {
        width: 300px;
    }
}