.background-image-main {
  width: 100%;
  min-height: 700px;
  background: url("./kristina-flour-185599-unsplash-new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: inline-block;
}
