.background-image-main {
  width: 100%;
  min-height: 700px;
  background: url("../../images/david-von-diemar-newsize-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: inline-block;
}
